/*
    Document   : lookup
    Created on : Nov 29, 2012, 10:21:36 AM
    Author     : Huan and Jordan
    Description:
        Purpose of the stylesheet follows.
*/

div.browse_wrapper > div {
  float: left;
}

div.browse_wrapper > div > label {
  float: left;
}

div.browse_wrapper > div + a > img {
  padding-top: 2px;
}

.browse-loading {
  background-color: rgba(35, 35, 35, 0);
  background-image: url('../images/loading.gif?2');
  background-position: center center;
  background-repeat: no-repeat;
  height: 128px;
  margin-left: auto;
  margin-right: auto;
  opacity: .9;
  width: 128px;
  z-index: 1000;
}

#lookup_content_wrapper table a {
  color: #4242dd;
  text-decoration: underline;
}

/* Special handling for warranty views display */
div.view-filters div.views-exposed-form div {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
}
.views-exposed-form > .views-exposed-widgets > div {
  clear:both;
}
.views-exposed-form > .views-exposed-widgets > div > .form-submit {
  float: right;
}
.views-exposed-form > .views-exposed-widgets > div.views-submit-button {
  float: right;
}
.views-exposed-form > .views-exposed-widgets > div.views-submit-button input {
  margin-top: 0px;
}
.views-exposed-form > .views-exposed-widgets > div > label {
  float: left;
  width: 160px;
  font-weight: normal;
  font-style: normal;
  font-family: Arial,Helvetica,sans-serif;
}
.views-exposed-form > .views-exposed-widgets > div > .views-operator{
  float: left;
  padding-left: 10px;
}
.views-exposed-form > .views-exposed-widgets > div > .views-widget{
  float: left;
  padding-left: 10px;
}
.views-exposed-form > .views-exposed-widgets > div > .views-operator > div > select{
  width: 167px;
}
